.fundo {
    background-image: url('imagens/fundo.png');
}

.format {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    font-size: 20px;
    ;
}

.tab {
    background-color: #B4B29F;
}
.a {
    color: #5B54B7;
}

.tab2 {
    background-color:#FFFCD9;
    background-size: 65%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h2 {
    color: #767566;
    font-weight: bold;
}

.direito {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.borda {
    border-width: 10px;
    border-color: #B4B29F;
    border-style: solid;
}